@charset "UTF-8";
/*――――――――――――――――――――――――――――――――――――――――――――
/* ベースファイルを定義
――――――――――――――――――――――――――――――――――――――――――――――*/
/**********************************************************

ブレイクポイント

***********************************************************/
@font-face {
  font-family: "Futura";
  font-weight: normal;
  src: url("../font/Futura-medium.ttc") format("truetype");
}
@font-face {
  font-family: "Futura";
  font-weight: 600;
  src: url("../font/Futura-bold.ttc") format("truetype");
}
.font-futura {
  font-family: "Futura", "ヒラギノ角ゴシック", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* pc sp 出し分けのためのcss
――――――――――――――――――――――――――――――――――――――――――――――*/
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
  img {
    image-rendering: -webkit-optimize-contrast;
  }
}
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* html,body
――――――――――――――――――――――――――――――――――――――――――――――*/
* {
  min-height: 0;
  min-width: 0;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 767px) {
  html {
    scroll-padding-top: 58px;
    overflow-x: hidden;
  }
}

body {
  min-height: 100vh;
  color: #001C10;
  font-size: 16px;
  font-family: "ヒラギノ角ゴシック", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  line-height: 1.4;
  background-color: #ffffff;
  font-weight: 300;
  position: relative;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* デフォルトの設定
――――――――――――――――――――――――――――――――――――――――――――――*/
* > *:first-child {
  margin-top: 0;
}

* > *:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

a {
  transition: 0.3s;
  cursor: pointer;
}
a::before, a::after {
  transition: 0.3s;
}
a *::before, a *::after {
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.7;
  }
}
a circle,
a path,
a line,
a rect {
  transition: 0.3s;
}

input,
textarea {
  font-family: "ヒラギノ角ゴシック", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* 共通のレイアウト
――――――――――――――――――――――――――――――――――――――――――――――*/
/*** コンテナ ***/
/*** section ***/
.l-section {
  padding: 75px clamp(30px, 8.1vw - 35px, 60px) 75px;
  position: relative;
  background-color: #fff;
}

.l-content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.l-content.--s {
  max-width: 790px;
}

@media screen and (max-width: 767px) {
  .l-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .l-content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* 余白調整
――――――――――――――――――――――――――――――――――――――――――――――*/
.l-pd {
  padding-right: clamp(30px, 8.1vw - 35px, 60px);
  padding-left: clamp(30px, 8.1vw - 35px, 60px);
}

.l-pd-left {
  padding-left: clamp(30px, 8.1vw - 35px, 60px);
}

.l-pd-right {
  padding-right: clamp(30px, 8.1vw - 35px, 60px);
}

.l-pd0 {
  margin-left: clamp(-60px, -8.1vw + 35px, -30px);
  margin-right: clamp(-60px, -8.1vw + 35px, -30px);
}

.l-pd0-left {
  margin-left: clamp(-60px, -8.1vw + 35px, -30px);
}

.l-pd0-right {
  margin-right: clamp(-60px, -8.1vw + 35px, -30px);
}

@media screen and (max-width: 767px) {
  .l-pd {
    padding-right: 20px;
    padding-left: 20px;
  }
  .l-pd-left {
    padding-left: 20px;
  }
  .l-pd-right {
    padding-right: 20px;
  }
  .l-pd0 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .l-pd0-left {
    margin-left: -20px;
  }
  .l-pd0-right {
    margin-right: -20px;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* mixin
――――――――――――――――――――――――――――――――――――――――――――――*/
/*――――――――――――――――――――――――――――――――――――――――――――
/* font
――――――――――――――――――――――――――――――――――――――――――――――*/
/*――――――――――――――――――――――――――――――――――――――――――――
/* vw
――――――――――――――――――――――――――――――――――――――――――――――*/
/*――――――――――――――――――――――――――――――――――――――――――――
/* line-height
――――――――――――――――――――――――――――――――――――――――――――――*/
/*――――――――――――――――――――――――――――――――――――――――――――
/* レイアウトに関するcss
――――――――――――――――――――――――――――――――――――――――――――――*/
/**********************************************************

header

***********************************************************/
body {
  padding-top: 129px;
}

.header {
  padding-top: 20px;
  padding-bottom: 17px;
  width: 100%;
  height: 129px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.headerLogo {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  width: 104px;
  margin: auto;
}

.headerLogo__img {
  width: 100%;
  height: auto;
}

.headerInfo {
  display: flex;
  justify-content: space-between;
}

.headerInfo__left {
  display: flex;
  gap: 0 7px;
}

.headerInfo__link.tel {
  display: flex;
}

.headerInfo__linkIcon {
  width: 35px;
  height: 35px;
}

.headerInfo__linkTel {
  font-size: 24px;
  font-weight: bold;
  color: #0243A6;
  margin-left: 7px;
  font-family: "fot-chiaro-std";
}

.headerInfo__right {
  display: flex;
  gap: 0 16px;
}

.headerInfo__btn {
  padding: 9px 34px 11px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  max-width: 139px;
  width: 139px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
.headerInfo__btn::after {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
  display: block;
  content: "";
  width: 12px;
  height: 10px;
  mask-position: center center;
  -webkit-mask-position: center center;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../img/ico_arrow.svg");
  mask-image: url("../img/ico_arrow.svg");
  background-color: #FFFFFF;
}

.contact {
  color: #FFFFFF;
  background-color: #0243A6;
}

.reserve {
  color: #0044A0;
  background-color: #FFD802;
}
.reserve::after {
  background-color: #0044A0;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.headerNavList {
  display: flex;
  gap: 0 25px;
}

.headerNavList__item {
  max-width: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
}

.headerNavList__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "fot-chiaro-std";
}

.headerNavList__en {
  font-size: 10px;
  font-weight: bold;
  color: #1A479C;
}

.headerNavList__ja {
  font-size: 13px;
  font-weight: bold;
}

/**********************************************************

footer

***********************************************************/
/*――――――――――――――――――――――――――――――――――――――――――――
/* topKvArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.topKvArea {
  width: 100%;
  height: 496px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.topKvImg {
  position: absolute;
  top: 0;
  left: 0;
}

.topKvTxtBox {
  position: relative;
  z-index: 1;
  font-family: "fot-chiaro-std";
  text-align: center;
}

.topKvTxt__sub {
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
}

.topKvTxt__main {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */